<h1>Categories list!</h1>

<p>Add a new category:</p>

<form action="/$user.getId()/categories" method="post">
  <label for="name">Task Description</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add category</button>
</form>

#foreach ($category in $categories)
  <li><a href="/$user.getId()/categories/$category.getId()">$category.getName()</a></li>
#end

<p><a href='/home'>Home</a></p>
