<h1>Task List!</h1>

<p>Add a new task:</p>

<form action="/tasks" method="post">
  <label for="name">Task Description</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Task</button>
</form>

#foreach ($task in $tasks)
  <li><a href="/tasks/$task.getId()">$task.getName()</a></li>
#end

<p><a href="/">Home</a></p>
